<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Córdoba Restaura</title>
    <link href='https://fonts.googleapis.com/css?family=El+Messiri' rel='stylesheet'>
    <style>
        * {
            font-family: "El Messiri";
        }
    </style>
</head>

<body>
    <div style="text-align: center;">

        <div style="background-position: center; background-image: url('https://www.andaluciarestaura.com/static/frontend/emailweb.png'); height: 910px;  background-repeat: no-repeat; ">
            <div style="text-align: center;padding-top: 420px;">
                <div>
                    <img src={{url_qr}} width="150px">

                </div>
                <div style="padding-top: 120px">
                     <a href={{url_carta}} style="color: white; padding-top: 150px;"> O tambien puedes acceder en esta direccion y compartirla con
                        tus contactos </a>
                </div>

            </div>

        </div>
        <div>

            </div>
    </div>
    <div style="text-align: center">
        <div style="margin-top: 15px">
        <span> Andalucía Restaura by Hotehub </span>
        <br />
        Copyright@2020 Todos los derechos reservados
    </div>
    </div>

</body>

</html>
